In [81]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [82]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [83]:
#If youâ€™re given two lists:
#A = [1,2,3,4,5,6], B = [13, 21, 34]
#The task is to create a list with the elements of A and B in a single dimension with output:
#A_B =  [1,2,3,4,5,6,13, 21, 34]
#Which of the following option is the best way to create this list?

A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A_B =A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [84]:
#How do you create an identity matrix in python?
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [85]:
fuel_data = pd.read_csv(url)

In [86]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [87]:
#Which of the following fuel type code has the lowest average fuel cost per unit burned?
fuel_data.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned'].nsmallest()

fuel_type_code_pudl
gas       13.659397
other     18.253856
waste     19.518122
coal      67.421830
oil      168.877086
Name: fuel_cost_per_unit_burned, dtype: float64

In [88]:
#What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
fuel_data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [89]:
#What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
fuel_data['fuel_mmbtu_per_unit'].quantile(0.75)

17.006

In [90]:
#What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
fuel_data.skew()['fuel_qty_burned']

15.851495469109503

In [91]:
#What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
fuel_data.kurtosis()['fuel_qty_burned']

651.3694501337732

In [92]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [93]:
fuel_data.isnull().sum()['fuel_unit']

180

In [94]:
#Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)
round((fuel_data.isnull().sum()['fuel_unit']/fuel_data.shape[0])*100,3)

0.61

In [95]:
#Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
fuel_data.corr()['fuel_cost_per_unit_burned'].nsmallest()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
Name: fuel_cost_per_unit_burned, dtype: float64

In [96]:
totalFuelcostperunitburnedperyear =  fuel_data[fuel_data['fuel_type_code_pudl']== 'coal'].groupby('report_year')['fuel_cost_per_unit_burned'].sum()

In [97]:
#For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
((totalFuelcostperunitburnedperyear[1998] - totalFuelcostperunitburnedperyear[1994])/totalFuelcostperunitburnedperyear[1994]) * 100

-20.56765451826049

In [98]:
#Which year has the highest average fuel cost per unit delivered?
fuel_data.groupby('report_year').mean()['fuel_cost_per_unit_delivered'].nlargest()

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64